.interests {
    min-height: 100vh;
    background-image: url('../../public/images/background3.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
  }

.interests-container {
    display: flex;
    flex-wrap: wrap; /* Wrap items if they overflow */
    justify-content: center; /* Center items horizontally */
    gap: 20px; /* Space between items */
    flex-direction: row;
}
  
  .background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .section-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 8px;
    flex: 0 0 30%;
    height: 50%;
    margin-right: 5px;
    position: relative;
    margin-top: 10%;
    color: #fff;
    padding: 20px;
  }

  .interests h2 {
    color:white;
    z-index: 1;
    position: relative;
    top: 10%;
    font-size: 3em;
  }

  .interests h3 {
    margin-bottom: 5%;
    font-size: 2em;
  }

  .interests p {
    text-indent: 40px; /* Indent the first line of each paragraph */
    margin-bottom: 20px; /* Space between paragraphs */
  }

  /* Tablet styles (for medium screens) */
@media (max-width: 1024px) {
  .section-container {
      flex: 0 0 45%; /* 2 items per row on medium screens */
      margin-top: 5%; /* Adjust top margin */
  }

  .interests h2 {
      font-size: 2.5em; /* Decrease font size */
  }

  .interests h3 {
      font-size: 1.7em; /* Decrease font size */
  }

  .interests p {
      font-size: 1.1em; /* Adjust paragraph font size */
  }
}

/* Mobile styles (for small screens) */
@media (max-width: 768px) {
  .section-container {
      flex: 0 0 100%; /* Full width for each item */
      margin-top: 5%;
      padding: 15px; /* Reduce padding */
  }

  .interests h2 {
      font-size: 2em; /* Further decrease font size */
  }

  .interests h3 {
      font-size: 1.5em; /* Further decrease font size */
  }

  .interests p {
      font-size: 1em; /* Adjust paragraph font size */
  }
}

/* Extra small screens (very small devices) */
@media (max-width: 480px) {
  .section-container {
      margin-top: 3%; /* Adjust margin */
      padding: 10px; /* Further reduce padding */
  }

  .interests h2 {
      font-size: 1.8em; /* Smallest font size for heading */
  }

  .interests h3 {
      font-size: 1.3em; /* Smallest font size for subheading */
  }

  .interests p {
      font-size: 0.9em; /* Smallest font size for paragraphs */
  }
}