.navbar {
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-name {
    color: #fff;
    font-size: 20px;
    margin-right: 20px;
    padding-bottom: 5px;
    white-space: nowrap;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-right: 15px;
    white-space: nowrap;
  }
  
  .navbar-link i {
    margin-right: 5px;
  }
  
  .navbar-link:hover {
    color: #f39c12;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
    align-items: center;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on mobile */
  }
  
  .nav-item {
    margin-left: 20px;
    white-space: nowrap;
  }
  
  .nav-links {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  .nav-links:hover {
    color: #f39c12;
  }
  
  @media (max-width: 768px) {
    .navbar {
        padding: 0 10px;
    }

    .navbar-left {
        flex: 1; /* Allow the navbar-left to shrink */
    }

    .nav-menu {
        flex: 1; /* Allow the nav-menu to shrink */
        justify-content: space-between; /* Adjust spacing */
    }

    .nav-item {
        margin-left: 10px; /* Reduce space between items */
    }

    .nav-links {
        font-size: 16px; /* Reduce font size on smaller screens */
    }
}